@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Roboto Mono', monospace;
}

/****************** 
      RESET
******************/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	min-height: 100vh;
	position: relative;
	transition: 0.3s;
	overflow-x: hidden;
	background-color: rgb(30 41 59);
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* Buttons */
button {
	background-color: transparent;
	outline: none;
	border: none;
	text-decoration: none;
}

/* Form reset */
form,
input,
textarea,
select,
button {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
